
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    -------------------
    Index
    -------------------
*/
.index-jumbotron {
    background-image: url(https://rxi.iscdn.net/2019/03/181012_forkner_jk_sx19_daytona_1664.jpg?h=630&w=917&q=50&auto=format&fit=max&dpr=1);
}
.jumbotron {
    background-image: url("https://rxi.iscdn.net/2019/08/189610_j_k_0901.jpg?h=631&w=837&q=50&auto=format&fit=max&dpr=1");
    background-size:cover;
    background-position:center;
    color: #fff;
    margin-top: 30px;
}

/*
    -------------------
    Login and Register
    -------------------
*/
/* Register and Login form constrict width to keep inputs centered */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
/* Remove border radius from login/register inputs*/
.rm-top-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.rm-radius {
    border-radius: 0px;
}
.rm-btm-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/*
    -------------------
    Index and Landing
    -------------------
*/
/* Part thumbnails*/
.thumbnail {
    box-shadow: 2px 2px 2px #ddd; 
}
.thumbnail:hover {
    box-shadow: 3px 3px 1px #ddd;
}

.caption {
    height: 211px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .caption h3 {
     font-size: 20px;
    }
    .caption h2 {
        font-size: 27px;
    }
}

/*
    -------------------
    Cart
    -------------------
*/
.Cart-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Cart-item .thumbnail {
    height: 200px;
    width: 200px;
}
.Cart-item .text {
    padding-left: 2rem;
}
@media (max-width: 1024px) {
    .Cart-item .text h2 {
        font-size: 25px;
    }
}
@media (max-width: 768px){
    .Cart-item {
        flex-direction: column;
    }
    .Cart-item .text {
        padding-left: 0px;
    }
}