@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>MotoParts is an ecommerce web app that allows motocross enthusiast to browse dirt bike parts.</p>
<p>On the business side the site has 3 roles: User, Moderator, and Admin.</p>
