@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Moto Platground Rd<br />
    Pala, CA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
