<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home";
    
}




<div class="jumbotron index-jumbotron">
    <h1>MotoParts</h1>
    <p>Providing racers with quality parts since the dawn of the internet.</p>
    <p class="lead">Create an account or Sign In to view our parts.</p> 
    <p><a href="/home/register" class="btn btn-primary btn-lg"> Sign Up &raquo;</a>
       <a href="/home/login" class="btn btn-primary btn-lg"> Sign In &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Dirtbike</h2>
        <p>
            Use the Dirtbike selector to filter parts by Make, Year, and Model.
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Cart</h2>
        <p>
            Click the 'View' button on parts to get a short description and add them to your Cart!
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Sign In</h2>
        <p>
            Create an account or Sign In to view products.
        </p>
    </div>
</div>



