@using MotoPartsWebApp.Models;
@{
    LoginModel u = (LoginModel)Session["loginModel"];

    ViewBag.Title = "Moderator Dashboard";

}

<div class="jumbotron">
    <h1>Moderator Dashboard</h1>
    <p class="lead">Welcome back  @u.FirstName  @u.LastName.</p>
</div>
